@model FlightSightings.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Registration Details</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-sm-2 displayLable">
            @Html.DisplayNameFor(model => model.Make)
        </div>
        <div class="col-sm-10 displayValue">
            @Html.DisplayFor(model => model.Make)
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-2 displayLable">
            @Html.DisplayNameFor(model => model.Model)
        </div>
        <div class="col-sm-10 displayValue">
            @Html.DisplayFor(model => model.Model)
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-2 displayLable">
            @Html.DisplayNameFor(model => model.Registration)
        </div>
        <div class="col-sm-10 displayValue">
            @Html.DisplayFor(model => model.Registration)
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-2 displayLable">
            @Html.DisplayNameFor(model => model.Location)
        </div>
        <div class="col-sm-10 displayValue">
            @Html.DisplayFor(model => model.Location)
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-2 displayLable">
            @Html.DisplayNameFor(model => model.DateTime)
        </div>
        <div class="col-sm-3 displayValue">
            @Html.DisplayFor(model => model.DateTime)
        </div>
    </div>
</div>

<div class="row mt-5">
    <img src="@Url.Content("~/images/" + @Model.ImageName)" class="img-fluid" id="thumbImage" />
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-sm btn-info">Edit</a>
    <a asp-action="Index" class="btn btn-sm btn-info">Back To List</a>
</div>
